# ignore all files in the build/ directory
.metadata/
*/__dump_all.txt
*/__dump.txt
*/app_controller.o
*/app_service.o
*/asm_function.o
*/cp15.o
*/cp15a.o
*/crt0.o
*/*.bin
*/*.elf
*/*.map
*/Exception.o
*/gic.o
*/graphics.o
*/key.o
*/led.o
*/main.o
*/runtime.o
*/sdhc.o
*/test.o
*/timer.o
*/uart.o
